@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>

        .wrapper {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-gap: 10px;

            line-height: 2.1;
            font:lighter;
            font-size:17px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .wrapper > div {

        padding: 1em;

        }
    </style>
</head>

<body>
    <div style="line-height:4">
        <br />
        <br />
    </div>
    <div class="wrapper">
        <div>
            <img src="~/pic/logo_example.png" alt="Shop Logo" />
        </div>
        <div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Art is a diverse range of (and products of) human activities involving creative imagination to express technical proficiency, beauty, emotional power, or conceptual ideas.
                There is no generally agreed definition of what constitutes art, and ideas have changed over time. The three classical branches of visual art are painting, sculpture,
                and architecture. Theatre, dance, and other performing arts, as well as literature, music, film and other media such as interactive media, are included in a broader
                definition of the arts. Until the 17th century, art referred to any skill or mastery and was not differentiated from crafts or sciences.
            </p>
            <br />
            <a class="btn btn-outline-secondary btn-lg" asp-controller="Shop" asp-action="ShopFront" role="button" align="right">SHOP NOW</a>
        </div>
    </div>

</body>