
<body>

    <style>
        .single-product{
            margin-top:80px;
        }
        .single-product col-2 img{
            padding:0;
        }
        .single-product .col-2{
            padding:20px;
        }
        .single-product h4{
            margin:20px 0;
            font-size:22px;
            font-weight:bold;
        }
        .single-product select{
            display:block;
            padding:10pc;
            margin-top:20px;
        }
        .single-product input{
            width:50px;
            height:40px;
            padding-left:10px;
            font-size:20px;
            margin-right:10px;
            border: 1px solid #000000;
        }
        input:focus{
            outline:none;
        }
    </style>

    <div class="small_container single-product">
        <div class="row">
            <div class="col-2">
                <img src="~/exampleForShopFront/vincents.jpg" width=80 />
            </div>
            <div class="col-2">
                <p>Vincents</p>
                <h1>Starry night</h1>
                <h4>20EUR</h4>
                <input type="number" value="1" />
                <a href="" class="btn">Add to Basket</a>
                <h3>Product details</h3>
                <p>Buy a small piece of Vincet history.</p>
            </div>
        </div>
    </div>
</body>
