<!DOCTYPE html>
<style>

</style>

<body>
    <div class="small_container single-product">
        <div class="row">
            <div class="col-2">
                <img src="~/exampleForShopFront/vincents.jpg" width="70" />
            </div>
            <div class="col-2">
                <p>Vincents</p>
                <h1>Starry night</h1>
                <h4>20EUR</h4>
                <input type="number" value="1" />
                <a href="" class="btn">Add to Basket</a>
                <h3>Product details</h3>
                <p>Buy a small piece of Vincet history.</p>
            </div>
        </div>
    </div>
</body>
