<!DOCTYPE html>
<style>
    *{
        margin: 0;
        padding: 0;
        list-style:none;
        text-decoration:none;
        font-family: "Open Sanas";
    }
    .category_container{
        width:1100px;
        display:block;
        margin: 0 auto;
        overflow: hidden;
    }
    .category_item{
        float: left;
        width:20%;
        background-color:white;
        padding:20px 0;
        text-align: center;
        cursor: pointer;
        font-size:15px;
        color:black;
    }
    .category_item:hover{
        background-color:plum;
        color:white;
    }
    .block_container{
        width:800px;
        display:block;
        margin: 0 auto;
        box-sizing:border-box;
    }
    .art_item{
        box-sizing:border-box;
        float: left;
        padding:2px;
        width:20%;
        transition: all 0.4s ease-in-out;
    }
    .hide{
        transform:scale(0);
        width:0;
        padding:0;
        transition: all 0.4s ease-in-out;
    }
</style>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/syle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="js/functionality.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css" />

    <script>
        $(document).ready(function () {
            $('.category_item').click(function () {
                var category = $(this).attr('id');

                if (category == 'all') {
                    $('.art_item').addClass('hide');
                    setTimeout(function () {
                        $('.art_item').removeClass('hide');
                    }, 300);

                } else {
                    $('.art_item').addClass('hide');
                    setTimeout(function () {
                        $('.' + category).removeClass('hide');
                }, 300);
                
            };
        });
    </script>
</head>

<body>
    <div class="category_container">
        <p class="category_item" id="all">ALL</p>
        <p class="category_item" id="graffiti">GRAFFITIE</p>
        <p class="category_item" id="classic">CLASSICS</p>
        <p class="category_item" id="animal">ANIMALS</p>
        <p class="category_item" id="meme">MEMES</p>
    </div>

    <div class="block_container">
        <img src="~/exampleForShopFront/vincents.jpg" class="art_item classic" />
        <img src="~/exampleForShopFront/perle.jpg" class="art_item classic" />
        <img src="~/exampleForShopFront/memes.jpg" class="art_item meme" />
        <img src="~/exampleForShopFront/memes1.jpeg" class="art_item meme" />
        <img src="~/exampleForShopFront/graffiti1.jpg" class="art_item graffiti" />
        <img src="~/exampleForShopFront/graffiti2.jpg" class="art_item graffiti" />
        <img src="~/exampleForShopFront/animalw.jpg" class="art_item animal" />
        <img src="~/exampleForShopFront/animaldear.jpg" class="art_item animal" />

    </div>
</body>

